<div class="row">
  <div class="col-md-12">
    <div class="white-box">

    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">

    <div class="white-box">
      <h3 class="box-title">Pavillon A</h3>

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Nom</th>
              <th>Prénom(s)</th>
              <th>Niveau </th>
              <th>Chambre</th>
              <th>Pavillon</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Guiro</td>
              <td>Kadidia</td>
              <td>DIC2TR</td>
              <td>24</td>
              <td>A</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>

<div class="row">
    <div class="col-sm-12">
  
      <div class="white-box">
        <h3 class="box-title">Pavillon B</h3>
  
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Prénom(s)</th>
                <th>Niveau </th>
                <th>Chambre</th>
                <th>Pavillon</th>
  
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Guiro</td>
                <td>Kadidia</td>
                <td>DIC2TR</td>
                <td>24</td>
                <td>A</td>
              </tr>
            </tbody>
          </table>
        </div>
  
      </div>
  
    </div>
  </div>

  <div class="row">
      <div class="col-sm-12">
    
        <div class="white-box">
          <h3 class="box-title">Pavillon C</h3>
    
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nom</th>
                  <th>Prénom(s)</th>
                  <th>Niveau </th>
                  <th>Chambre</th>
                  <th>Pavillon</th>
    
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Guiro</td>
                  <td>Kadidia</td>
                  <td>DIC2TR</td>
                  <td>24</td>
                  <td>A</td>
                </tr>
              </tbody>
            </table>
          </div>
    
        </div>
    
      </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
      
          <div class="white-box">
            <h3 class="box-title">Pavillon F</h3>
      
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Prénom(s)</th>
                    <th>Niveau </th>
                    <th>Chambre</th>
                    <th>Pavillon</th>
      
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Guiro</td>
                    <td>Kadidia</td>
                    <td>DIC2TR</td>
                    <td>24</td>
                    <td>A</td>
                  </tr>
                </tbody>
              </table>
            </div>
      
          </div>
      
        </div>
      </div>
      

  